@model ML.Alumno
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row">

        <div class="col-md-12">

            <h2>Alumno</h2>

        </div>

    </div>

    <div class="row">

        <div class="col-md-12">

            <hr />

        </div>

    </div>

    <div class="row">

        <div class="col-md-12">

            @using (Html.BeginForm("Form", "Alumno", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                <div class="form-horizontal">

                    <div class="form-group">

                        <div class="col-md-3">

                            @Html.LabelFor(model => model.IdAlumno, new { @class = "hidden" })

                            @Html.TextBoxFor(model => model.IdAlumno, new { @class = "hidden form-control" })

                            @Html.ValidationMessageFor(model => model.IdAlumno)

                            @*hidden*@

                        </div>

                    </div>

                    <div class="form-group">

                        <div class="col-md-3">

                            @Html.LabelFor(model => model.Nombre)

                            @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })

                            @Html.ValidationMessageFor(model => model.Nombre)

                        </div>

                        <div class="col-md-3">

                            @Html.LabelFor(model => model.ApellidoPaterno)

                            @Html.TextBoxFor(model => model.ApellidoPaterno, new { @class = "form-control" })

                            @Html.ValidationMessageFor(model => model.ApellidoPaterno)

                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.Horario.Grupo.Plantel.Planteles)
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="bi bi-building " style="color: midnightblue"></i></span>
                                @Html.DropDownListFor(model => model.Horario.Grupo.Plantel.IdPlantel, new SelectList(Model.Horario.Grupo.Plantel.Planteles, "IdPlantel", "Nombre"), "Selecciona un plantel", new { @class = "form-control", @id = "ddlPlantel" })
                                @Html.ValidationMessageFor(model => model.Horario.Grupo.Plantel.IdPlantel)
                            </div>
                        </div>

                        <div class="col-md-4">
                            @Html.LabelFor(model => model.Horario.Grupo.Grupos)
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i class="bi bi-calendar-plus-fill" style="color: midnightblue"></i></span>
                                @if (Model.Horario.Grupo.Grupos == null)
                                {
                                    @Html.DropDownListFor(model => model.Horario.Grupo.IdGrupo, new SelectList(string.Empty, "Value", "Text"), "Selecciona un grupo", new { @class = "form-control", @id = "ddlGrupo" })
                                    @Html.ValidationMessageFor(model => model.Horario.Grupo.IdGrupo)
                                }
                                else
                                {
                                    @Html.DropDownListFor(model => model.Horario.Grupo.IdGrupo, new SelectList(Model.Horario.Grupo.Grupos, "IdGrupo", "Horario"), "Selecciona un grupo", new { @class = "form-control", @id = "ddlGrupo" })
                                    @Html.ValidationMessageFor(model => model.Horario.Grupo.IdGrupo)
                                }
                            </div>
                        </div>

                    </div>



                    <div class="form-group">

                        <div class="col-md-3">

                            <input type="submit" value="Guardar" class="btn btn-success" />

                            @Html.ActionLink("Regresar", "GetAll", "Alumno", htmlAttributes: new { @class = "btn btn-danger" })

                        </div>

                    </div>

                </div>

            }

        </div>

    </div>

</div>

@section Scripts
{

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

    <script type="text/javascript">

                $(document).ready(function () {
                $("#ddlPlantel").change(function () {
                    $("#ddlGrupo").empty();
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("GrupoGetByIdPlantel")',
                        dataType: 'json',
                        data: { IdPlantel: $("#ddlPlantel").val() },
                        success: function (grupos) {
                            $("#ddlGrupo").append('<option value="0">'+ 'Seleccione una opción' + '</option>');
                            $.each(grupos, function (i, grupos) {
                                $("#ddlGrupo").append('<option value="'
                                                           + grupos.idGrupo + '">'
                                                           + grupos.nombre + '</option>');
                            });
                        },
                        error: function (ex) {
                            alert('Failed.' + ex);
                        }
                    });
                });

            });
    </script>
}